.container {
  background-color: white;
  border: 7px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.name {
  padding-left: 10px;
  font-family: Arial, sans-serif;
}
.check {
  flex-direction: row;
  border: none;
  background-color: white;
  padding-right: 10px;
  transition-duration: 100ms;
}
.check:hover {
  color: green;
  transform: scale(1.2);
}

.desc {
  font-family: Arial, sans-serif;
  color: rgb(178, 111, 186);
  font-size: large;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  height: 100%;
}
.restore {
  flex-direction: row;
  border: none;
  background-color: white;
  padding-right: 10px;
  transition-duration: 100ms;
}
.restore:hover {
  color: red;
  transform: scale(1.2);
}
